.header-bg {
  position: relative;
  overflow: hidden;
}

.header-bg::before {
  content: "";
  background-image: url('https://i.imgur.com/Mg8qgX3.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6; /* Adjust the opacity of the background image */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:0; /* Ensure it is behind the other content */
}

header .container {
  position: relative;
  z-index: 1; /* Ensure the container content is above the background image */
}

.gradient-background {
  background: linear-gradient(to right top, #ffecd2 0%, #fcb69f 100%);
  height: 100vh; /* Adjust the height as needed */
}

body {
  background-color: linear-gradient(to right top, #ffecd2 0%, #fcb69f 100%);
}

/* Change link during the actual project */